@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@font-face {
  font-family: 'San Francisco';
  src: url('assets/fonts/SF-UI-Text-Regular.otf') format('openType');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'San Francisco';
  src: url('assets/fonts/SF-UI-Text-Bold.otf') format('openType');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'San Francisco';
  src: url('assets/fonts/SF-UI-Text-Light.otf') format('openType');
  font-weight: 300;
  font-style: normal;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
