@mixin _flex-it($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin center-x($direction: row, $include-flex: true) {
  @if ($include-flex) {
    @include _flex-it($direction);
  }
  @if ($direction == row) {
    justify-content: center;
  } @else {
    align-items: center;
  }
}

@mixin center-y($direction: row, $include-flex: true) {
  @if ($include-flex) {
    @include _flex-it($direction);
  }
  @if ($direction == row) {
    align-items: center;
  } @else {
    justify-content: center;
  }
}

@mixin center-all($direction) {
  @include _flex-it($direction);
  @include center-x($direction, false);
  @include center-y($direction, false);
}
