@import './fonts';
@import './mixins';
@import './animations';

@import 'node_modules/bootstrap/scss/bootstrap-flex';

body {
  font-family: 'San Francisco', 'Helvetica', 'sans-serif';
  background-color: #f2f2f2;
}
