@import '~styles/mixins';

.app {}

.app-body {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header {
  @include center-all(row);
  background-color: white;
  height: 140px;
  padding: 20px;
  color: #333333;
  box-shadow: 0 6px 14px rgba(#333, 0.2);

  .app-title {
    font-weight: light;
    margin: 0;
  }
}

.app-intro {
  font-size: large;
}
