@import 'node_modules/bootstrap/scss/variables';

.filter-toolbar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 600px;
  max-width: 100%;
}

.search {
  flex-grow: 1;
}

.filters {
  display: flex;
  flex-grow: 0;
  margin-left: -10px;
  margin-right: 10px;

  .filter-item {
    position: relative;
    padding: 8px 10px;
    margin-right: 10px;
    cursor: pointer;

    &:after {
      position: absolute;
      content: '';
      height: 3px;
      opacity: 0;
      bottom: 0;
      left:   0; right: 0;
      transition: opacity 0.15s ease-out;
      background-color: $brand-primary;
    }

    &.is-active:after {
      opacity: 1;
    }
  }
}
